.root {
  &:global(.MuiContainer-root) {
    flex: 1;
    transition: all $transitionTimeMs;
    width: 100%;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0 !important;
  }
}
.section {
  /*!KEEP*/
  // margin: $containerPaddingPx 0;
}
.actions,
.inputFields {
  padding: 0 24px;
}
.splash {
  flex: 3;
}
.inputFields {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.actions {
  flex: 1;
}

.uploadButton {
  label {
    justify-content: flex-start;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  > :global(button) {
    gap: 0;
  }
}
